.pg-cab {

  .tools--cab {

    .tools__body {
      padding-top: 0.8rem;
      padding-bottom: 0.8rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      @include media-breakpoint-down(lg) {
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
      }

    }

    .tools_check {
      margin: 0.6rem 0.6rem 0.6rem -0.7rem;
      padding-top: 0;

      @include media-breakpoint-down(lg) {
        margin-left: 0;
      }

      .cab_checkall {
        width: 2rem;
        height: 2rem;
      }

      .cab_labelall {
        margin-left: 0.6rem;
        margin-top: 0.2rem;
        color: $c-gray;

        &:hover {
          color: $c-black;
        }

      }

    }

    .tools_btns {
      padding: 0;
      margin: 0;

      > li {
        list-style: none;
        display: inline-block;
        margin: 0.3rem 0.6rem 0.3rem 0;

        @include media-breakpoint-down(lg) {
          margin-right: 0.4rem;
        }

        &:last-child {
          margin-right: 0;
        }

        .b-tool {
          margin-top: 0;
          padding: 0.6rem 1.5rem;
          min-width: auto;
        }

      }

    }

  }

  .cab_check {
    position: absolute;
    top: 0.5rem;
    left: 2.3rem;
    z-index: 999;
    width: 2rem;
    height: 2rem;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.75);

    &:active,
    &:focus,
    &:checked,
    &:indeterminate {
      box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.75);
    }

    @include media-breakpoint-down(lg) {
      left: 1.5rem;
    }

  }

  .block-itemlist .cab_check {
    top: 0.3rem;
    left: 2.3rem;


    @include media-breakpoint-down(lg) {
      left: 0.7rem;
    }

  }

  .cab_submenu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;

    button {
      border: none;
      border-radius: 0 $border-radius 0 $border-radius;
      color: $c-gray;
      background: #c5c5c5;
      width: 3.6rem;
      height: 3.6rem;
      text-align: center;
      line-height: 3.8rem;

      &:before {
        font: 1.7rem/1 $fontawesome;
        content: "\f141";
      }

      &:hover {
        background: #b5b5b5;
        color: $c-black;
      }

    }

    .dropdown-menu {
      border-radius: $border-radius 0 $border-radius $border-radius;
      background: #f5f5f5;
      margin-top: -3px;

      .dropdown-item {
        padding: 0.6rem 1.5rem;
      }

    }

  }

}
