.block-rpoll {
  padding-top: 0.5rem;
  line-height: $line-height-min;

  form {

    label {
      color: $c-black;
      white-space: break-spaces;
      font-family: $font-family-base;
      font-size: $font-size-basemin;
    }

  }

  .rpoll__links {
    margin: 3rem 0 0 0;

    > li {
      font-size: $font-size-base;
    }

  }

}

.rpoll__result {

  .result-item {
    margin: 1rem 0;
    font-size: $font-size-basemin;
  }

  .rpool-bar {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    > div {
      height: 5px;
      border-radius: 1rem;
      background: $c-orange;
      margin-right: 0.5rem;
    }

  }

}