.block-result {
	margin-top: 3rem;
	margin-bottom: 3rem;

	> p {
		font-weight: bold;
		margin-bottom: 3rem;
	}

	> .row {
		margin-bottom: 1.5rem;
	}

	.d-flex {
		align-items: center;
	}

	.progress {
		height: 2.5rem;
		font-family: $font-family-narrow;
		font-size: $font-size-base;
		background-color: $c-gray-lighter;
	}

	.progress-bar {
		color: $c-black;
		background-color: $c-orange;
	}

	.bl {
		color: $c-gray;
		background: $c-gray-lighter;
		font-size: $font-size-basemin;
	}

}

