.block-userlogin {
  margin: 0;

  .userlogin-plate {
    min-width: 290px;
    background: $c-black;
    color: $c-white;
    border-radius: 0 0 $border-radius $border-radius;
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

    .userlogin__hdr {
      padding: 1.5rem 3rem;

      h2 {
        color: $c-white;
        margin: 0;
      }

    }

    .userlogin__fm {
      padding: 2rem 3rem;
      background: #333333;

      label {
        color: $c-gray-lighter;
      }

      input {
        height: 36px;
        background: $c-gray-lighter !important;
        font-family: $font-family-narrow;
        font-size: $font-size-basemax !important;
      }

      button[type="submit"] {
        margin-top: 2rem;
      }

    }

    .userlogin__links {
      padding: 1.5rem 3rem 1rem 3rem;
      border-radius: 0 0 $border-radius $border-radius;
      font-size: $font-size-basemax;
      font-family: $font-family-narrow;

      a {
        color: $c-white;

        &:hover {
          color: $color-link-hover;
        }

      }

    }

  }

}


.block-usermenu {
  margin: 0;

  .usermenu-plate {
    min-width: 290px;
    padding: 0;
    background: $c-black;
    color: $c-white;
    border-radius: 0 0 $border-radius $border-radius;
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    font-family: $font-family-narrow;
    font-size: $font-size-basemax;

    .usermenu__user {
      display: flex;
      align-items: center;
      padding: 1.5rem 3rem;
      line-height: $line-height-min;
      text-decoration: none;

      &:hover {
        > * {
        color: $c-orange !important;
        }
      }

      .user_pic {
        width: 40px;
        height: 40px;
        margin-right: 1rem;
        margin-left: -5px;

        img {
          width: 100%;
          height: auto;
          border-radius: 50%;
        }

      }

      .user_name {
        font-weight: bold;
        color: $c-white;
        transition: 0.3s;
      }

    }

    ul {
      list-style: none;
      padding: 1.5rem 3rem;
      background: #333333;
      margin: 0;
      border-radius: 0 0 $border-radius $border-radius;

      > li {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;

        a {
          color: $c-white;

          &:hover {
            color: $color-link-hover;
          }

        }

        i {
          width: 40px;
          text-align: center;
          margin-right: 1rem;
          margin-left: -5px;
        }

      }

    }

  }

}