.modal.show {
	padding-right: 17px;
	padding-left: 17px;

	@include media-breakpoint-down(md) {
		padding-right: 0 !important;
		padding-left: 0 !important;
	}

}


.modal-dialog {
	max-width: 60rem;
	margin-top: 10%;

	@include media-breakpoint-down(md) {
		margin-top: 5px;
	}

}

.modal-header,
.modal-body,
.modal-footer {
	padding: 1.5rem 3rem;
}

.modal-body {
		padding-bottom: 3rem;
}

.modal-header {
	position: relative;
	background-color: $color-bk-body;

	.btn-close {
		position: absolute;
		z-index: 9;
		top: 2rem;
		right: 1.5rem;
	}

	.mainhdr {
		margin: 0;
	}

}

.modal-body {

}



#id_modal-userlogin {

	.modal-dialog {
		max-width: 50rem;
		margin-top: 5%;

		@include media-breakpoint-down(md) {
			margin-top: 5rem;
		}

	}

	.modal-content {
		border-radius: $border-radius;
		background: $c-black;
	}

	.modal-header,
	.modal-body,
	.modal-footer {
		position: relative;
		color: $c-white;
		padding: 0;
	}

	.btn-close {
		position: absolute;
		z-index: 9;
		top: 0;
		right: 1.5rem;
		color: $c-white;
		font-size: 2.5rem;
	}

}


#id_wnd-cookie {
	position: fixed;
	z-index: 9999;
	bottom: 5dvh;
	left: 50%;
	transform: translateX(-50%);
	width: 35rem;
	padding: 3rem;
	background-color: #222222;
	color: $c-white;
	text-align: center;
	border-radius: 8px;
	border: solid 1px $c-gray;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.75);

	a {
		color: $c-gray-lighter;

		&:hover {
			color: $c-white;
		}

	}

	button {
		width: 100%;
		margin: 2rem auto 0 auto;
	}

}