///////////////////////////////////////////////
// заголовки

H1 {
	font: $font-hdr;
	font-weight: bold;
	color: $color-hdr;
	margin-top: 0;
	margin-bottom: 2rem;
	text-transform: uppercase;

	span {
		color: $c-gray;
	}

}

.mainhdr {
	font: $font-hdr;
	font-weight: bold;
	color: $color-hdr;
	margin-top: 0;
	margin-bottom: 2rem;
	text-transform: uppercase;
	line-height: 1.2;

	span {
		color: $c-gray;
	}

}

H2 {
	font: $font-hdr;
	font-weight: bold;
	color: $color-hdr;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	line-height: 1.1;

	.bl {
		position: relative;
		top: -6px;
		background: $c-gray-lighter;
		font-weight: normal;
		font-size: 14px;
		height: 18px;
		min-width: 40px;
		line-height: 20px;
	}

}

.h1--naming {
	text-transform: inherit;
	font-size: 2.3rem;
}

.hdr-linked {
	display: flex;
	flex-wrap: nowrap;
	align-items: flex-start;
	justify-content: space-between;

	@include media-breakpoint-down(md) {
		flex-wrap: wrap;
	}

	.mainhdr {
		margin-right:1rem;
	}

	.b-btn {
		min-width: auto;
		padding: 0.8rem 1.5rem;
		margin-top: -1rem;
		margin-bottom: 1.5rem;
	}

}

h3 {
	font-weight: bold;
	font-family: $font-family-narrow;
	font-size: 1.9rem;
	margin-top: 1.5rem;
	margin-bottom: 0.8rem;
}


.hdr-link {
	display: inline-block;
	font: $font-narrow;
	text-decoration: underline;
	margin-top: -0.53rem;
	margin-bottom: 1.7rem;
	white-space: nowrap;

	@include media-breakpoint-down(md) {
		font-size: $font-size-base;
	}

	i {
		padding: 0.7rem;
		min-width: 4rem;
		text-align: center;
		background: $c-orange url("../img/bk-btn.gif") center center repeat-x;
		margin-left: 0.8rem;
		border-radius: $btn-border-radius;
		color: $c-black;
		transition: 0.3s;
	}

	&:hover {
		text-decoration: none;

		i {
			background: $c-orange-dark url("../img/bk-btn_.gif") center center repeat-x;
		}

	}

}


.hdr-toollink {
	display: inline-block;
	font: $font-narrow;
	text-decoration: underline;
	margin-bottom: 2rem;
	white-space: nowrap;
	margin-top: -2px;

	i {
		position: relative;
		margin-right: 0.6rem;
		top: 2px;
		font-size: 2.1rem;
	}


}