<footer>
<div class="wrap-footer">

  <div class="block-footer">
    <ul class="footer__menu">
      <li><a href="#">О проекте</a></li>
      <li><a href="#">Реклама на сайте</a></li>
      <li><a href="#">Обратная связь</a></li>
    </ul>
    <ul class="footer__soc">
      <li><a href="#"><i class="fab fa-facebook"></i></a></li>
      <li><a href="#"><i class="fab fa-vk"></i></a></li>
      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
    </ul>
    <ul class="footer__menu">
      <li><a href="#">Правила пользования</a></li>
      <li><a href="#">Конфиденциальность</a></li>
      <li><a href="#">Информация для правообладателей</a></li>
    </ul>
  </div>

  <div class="block-footer">
    <div class="footer__copy">
      <strong>© 2012—2022 Механизация.ру</strong><br>
      Портал о машинах и механизмах.
    </div>
    <div class="promoting">
      <a href="https://www.promoting.ru/" target="_blank" title="Сделано в Promoting"><img src="img/promoting.png" width="124" height="31" alt="Сделано в Promoting"></a>
    </div>
  </div>

  <div class="footer__note">
    Мы используем информацию, зарегистрированную в файлах "Cookies", в частности, в рекламных и статистических целях, а также для того, чтобы адаптировать наш сайт к индивидуальным потребностям пользователей. Вы можете изменить настройки "Cookies" в вашем браузере. Если вы оставите эти настройки без изменений, Cookie-файлы будут сохранены в памяти устройста. Изменение настроек файлов "Cookies" может ограничить функциональность сайта. Продолжая пользоваться сайтом, вы соглашаетесь с условиями настоящего <a href="#">Положения</a>.
  </div>

</div>
</footer>